:root{
    --hover-color:#CDA274;
    --title-color:#292F36;
    --text-color:#4D5053;
    --review-bcg:#F4F0EC;
    --buttons-bcg:#F4F0EC;
    --achievement-bcg:#CDA274;
    --bcg-color:#FFFFFF;
    --join-bcg:#292F36;
}

body{
    font-family:Jost;
}

.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    outline: 2px solid orange;
}

.header{
    margin-bottom: 30px;
}

.header-logo{
    padding-top: 26px;
    padding-bottom: 30px;
}

.header-box{
    display: flex;
    align-items: center;
}

.header-list{
    display: flex;
    margin-left: 500px;
    gap: 40px;
}

.header-link{
    color:var(--text-color);
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 1.50; /* 150% */
letter-spacing: 0.4px;
}

.header-link:hover{
    color:var(--achievement-bcg);
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 1.50; /* 150% */
letter-spacing: 0.4px;
}

.Dream{
    background-image: url(../images/house.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.dream-title{
    width: 595px;
    color: var(--title-color);
font-family: "DM Serif Display";
font-size: 80px;
font-style: normal;
font-weight: 400;
line-height: 1.20; /* 120% */
letter-spacing: 0.22px;
padding-top:195px;
}

.dream-desk{
    color: var(--text-color);
    width: 577px;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 1.50; /* 150% */
letter-spacing: 0.22px;
padding-top: 12px;
}

.dream-desk2{
    color: var(--text-color);
    width: 373px;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 1.50; /* 150% */
letter-spacing: 0.22px;
padding-bottom: 35px;
}

.dream-button{
    width: 207px;
    height: 71px;
    background-color: #292F36;
    color: var(--bcg-color);
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 1.50; /* 150% */
letter-spacing: 0.72px;
border: none;
border-radius: 15px;
margin-bottom: 435px;
}

.features{
    margin-top: 175px;
    margin-bottom: 170px;
}

.features-title{
    color: var(--title-color);
font-family: "DM Serif Display";
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: 1.56; /* 156% */
letter-spacing: 0.22px;
}

.features-desk:nth-child(1){
    width: 317px;
    color:var(--text-color);
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 1.50; /* 150% */
letter-spacing: 0.22px;
}

.features-desk:nth-child(2){

    color:var(--text-color);
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 1.50; /* 150% */
letter-spacing: 0.22px;
}

.features-desk{
    color:var(--text-color);
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 1.50; /* 150% */
letter-spacing: 0.22px;
}

.features-btn{
    color: var(--text-color);
text-align: center;

font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 1.50; /* 150% */
letter-spacing: 0.36px;
}

.call-title{
    width: 450px;
    color: var(--title-color);
font-family: "DM Serif Display";
font-size: 50px;
font-style: normal;
font-weight: 400;
line-height: 1.30; /* 130% */
letter-spacing: 0.22px;
padding-bottom: 42px;
}
.call-desk{
    width: 531px;
    color: var(--text-color);
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 1.50; /* 150% */
letter-spacing: 0.22px;
}

.call-desk2{
    width: 492px;
    color: var(--text-color);
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 1.50; /* 150% */
letter-spacing: 0.22px;
}

.call-link{
    width: 93px;
    height: 93px;
}

.call-tel{
    color: var(--text-color);
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 1.50; /* 150% */
letter-spacing: 0.22px;
}

.call-subtitle{
    color: var(--text-color);
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 1.50; /* 150% */
letter-spacing: 0.22px;
}

.call-button{
    border-radius: 18px;
border: 2px solid var(--title-color);
background: var(--title-color);
width: 263px;
height: 71px;
color: var(--bcg-color);
font-family: Jost;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 1.50; /* 150% */
letter-spacing: 0.72px;
}

.call-image{
    width: 592px;
    height: 635px;
}

.review{
    margin-top: 139px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 70px;
    background: var(--review-bcg);
    width: 1200px;
}

.review-title{
    color: var(--title-color);
text-align: center;
font-family: "DM Serif Display";
font-size: 45px;
font-style: normal;
font-weight: 400;
line-height: 1.30; /* 130% */
letter-spacing: 0.22px;
}

.review-title2{
    color: var(--title-color);
text-align: center;
font-family: "DM Serif Display";
font-size: 45px;
font-style: normal;
font-weight: 400;
line-height: 1.30; /* 130% */
letter-spacing: 0.22px;
}

.review-item{
    border-radius: 30px;
background: var(--bcg-color);
width: 354px;
height: 287px;
}


.review-image{
    width: 77px;
}

.review-subtitle{
    color:var(--title-color);
font-family: "DM Serif Display";
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: 1.50; /* 150% */
letter-spacing: 0.22px;
}

.review-desk{
    color:var(--text-color);

font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 1.50; /* 150% */
letter-spacing: 0.22px;
}

.review-subject{
    color:var(--text-color);
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 1.50; /* 150% */
letter-spacing: 0.22px;
}

.brands-list{
    margin-top: 141px;
    display: flex;
    justify-content: start;
    gap: 100px;
    align-items: center;
}

.project{
    margin-top: 143px;
}

.project-title{
    color: var(--title-color);
text-align: center;
font-family: "DM Serif Display";
font-size: 47px;
font-style: normal;
font-weight: 400;
line-height: 1.32; /* 132.766% */
letter-spacing: 0.22px;
}

.project-subtitle{
    color: var(--text-color);
    text-align: center;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 1.50; /* 150% */
letter-spacing: 0.22px;
padding-top: 20px;
}
.project-subtitle2{
    color: var(--text-color);
text-align: center;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 1.50; /* 150% */
letter-spacing: 0.22px;
padding-bottom: 71px;
}


.project-image{
    width: 590px;
    height: 661px;
}

.project-subject{
    color: var(--title-color);

font-family: "DM Serif Display";
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 1.56; /* 156.25% */
letter-spacing: 0.22px;
padding-top: 20px;
}

.project-desk{
    color:var(--text-color);

font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 1.50; /* 150% */
letter-spacing: 0.22px;
padding-bottom: 61px;
}
