:root{
    --hover-color:#CDA274;
    --title-color:#292F36;
    --text-color:#4D5053;
    --review-bcg:#F4F0EC;
    --buttons-bcg:#F4F0EC;
    --achievement-bcg:#CDA274;
    --bcg-color:#FFFFFF;
    --join-bcg:#292F36;
    --list-bcg: #E7E7E7;;
    --footer-brdr:#f5f5f5;
}

body{
    font-family:Jost;
}

.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    outline: 2px solid orange;
}

.header{
    padding: 30px 0px;
}

.navigation{
    margin-left: auto;
}

.header-box{
    display: flex;
    align-items: center;
}

.header-list{
    display: flex;
    
    gap: 40px;
}

.header-link{
    color:var(--text-color);
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 1.50; /* 150% */
letter-spacing: 0.4px;
}

.header-link:hover{
    color:var(--achievement-bcg);
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 1.50; /* 150% */
letter-spacing: 0.4px;
}

.dream{
    background-image: url(../images/house.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 195px 0px 260px 0px;
}

.dream-title{
    width: 595px;
    color: var(--title-color);
font-family: "DM Serif Display";
font-size: 80px;
font-style: normal;
font-weight: 400;
line-height: 1.20; /* 120% */
letter-spacing: 0.22px;
margin-bottom: 12px;
}

.dream-desk{
    color: var(--text-color);
    width: 577px;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 1.50; /* 150% */
letter-spacing: 0.22px;
margin-bottom: 35px;
}

.dream-button{
    padding: 22px 67px 22px 34px;
    background-color: #292F36;
    color: var(--bcg-color);
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 1.50; /* 150% */
letter-spacing: 0.72px;
border: none;
border-radius: 15px;

}

.features{
    padding-top: 100px;
    padding-bottom: 100px;
}

.features-list{
    display: flex;
    justify-content: center;

}

.features-item{
    padding-top: 75px;
    padding-left: 42px;
    padding-right: 41px;
    padding-bottom: 70px;
}

.features-title{
    color: var(--title-color);
font-family: "DM Serif Display";
text-align: center;
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: 1.56; /* 156% */
letter-spacing: 0.22px;
margin-bottom: 17px;
}

.features-desk:nth-child(1){
    width: 317px;
    color:var(--text-color);
    text-align: center;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 1.50; /* 150% */
letter-spacing: 0.22px;
margin-bottom: 68px;
}

.features-desk:nth-child(2){

    color:var(--text-color);
    width: 297px;
font-size: 22px;
text-align: center;
font-style: normal;
font-weight: 400;
line-height: 1.50; /* 150% */
letter-spacing: 0.22px;
margin-bottom: 35px;
}

.features-desk:nth-child(3){
    color:var(--text-color);
    text-align: center;
    width: 296px;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 1.50; /* 150% */
letter-spacing: 0.22px;
margin-bottom: 35px;
}

.features-btn{
    color: var(--text-color);
text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 1.50; /* 150% */
letter-spacing: 0.36px;
border: none;
background-color:var(--bcg-color);

}

.call-text{
    display: flex;
    align-items:center ;
}
.call-title{
    width: 450px;
    color: var(--title-color);
font-family: "DM Serif Display";
font-size: 50px;
font-style: normal;
font-weight: 400;
line-height: 1.30; /* 130% */
letter-spacing: 0.22px;
margin-bottom: 42px;
}

.call-desk{
    width: 531px;
    color: var(--text-color);
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 1.50; /* 150% */
letter-spacing: 0.22px;
}



.call-link{
    width: 93px;
    height: 93px;
}

.call-tel{
    color: var(--text-color);
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 1.50; /* 150% */
letter-spacing: 0.22px;
}

.call-subtitle{
    color: var(--text-color);
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 1.50; /* 150% */
letter-spacing: 0.22px;
margin-bottom: 68px;
}

.call-button{
    border-radius: 18px;
border: 2px solid var(--title-color);
background: var(--title-color);
width: 263px;
height: 71px;
color: var(--bcg-color);
font-family: Jost;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 1.50; /* 150% */
letter-spacing: 0.72px;
}

.call-image{
    width: 592px;
    height: 635px;
}
.review{
    margin-top: 139px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 70px;
    background: var(--review-bcg);
    width: 1200px;
}

.review-title{
    color: var(--title-color);
text-align: center;
font-family: "DM Serif Display";
font-size: 45px;
font-style: normal;
font-weight: 400;
line-height: 1.30; /* 130% */
letter-spacing: 0.22px;
padding-top: 103px;
}

.review-title2{
    color: var(--title-color);
text-align: center;
font-family: "DM Serif Display";
font-size: 45px;
font-style: normal;
font-weight: 400;
line-height: 1.30; /* 130% */
letter-spacing: 0.22px;
padding-bottom: 47px;
}

.review-list{
    display: flex;
    gap: 18px;
    justify-content: center;
    padding-bottom: 121px;
}

.review-item{
    border-radius: 30px;
background: var(--bcg-color);
width: 354px;
height: 287px;

}


.review-image{
    width: 77px;
    padding-top: 50px;
}

.review-subtitle{
    color:var(--title-color);
font-family: "DM Serif Display";
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: 1.50; /* 150% */
letter-spacing: 0.22px;
text-align: center;

}

.review-desk{
    color:var(--text-color);

font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 1.50; /* 150% */
letter-spacing: 0.22px;
text-align: center;
}

.review-subject{
    color:var(--text-color);
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 1.50; /* 150% */
letter-spacing: 0.22px;
text-align: center;
}

.brands{
    margin-top: 141px;
}

.brands-list{
    display: flex;
    justify-content: start;
    gap: 100px;
    align-items: center;
}

/* Project */

.project{
    margin-top: 143px;
    margin-bottom: 140px;
}

.project-title{
    color: var(--title-color);
text-align: center;
font-family: "DM Serif Display";
font-size: 47px;
font-style: normal;
font-weight: 400;
line-height: 1.32; /* 132.766% */
letter-spacing: 0.22px;
}

.project-subtitle{
    color: var(--text-color);
    text-align: center;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 1.50; /* 150% */
letter-spacing: 0.22px;
padding-top: 20px;
}



.project-image{
    width: 590px;
    height: 661px;
}

.project-subject{
    color: var(--title-color);

font-family: "DM Serif Display";
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 1.56; /* 156.25% */
letter-spacing: 0.22px;
padding-top: 20px;
}

.project-desk{
    color:var(--text-color);

font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 1.50; /* 150% */
letter-spacing: 0.22px;
padding-bottom: 61px;
}

/* Achievements */

.achievements{
    background: var(--review-bcg);

margin-left: auto;
margin-right: auto;
}

.achievements-list{
    display: flex;
    align-items: center;
    justify-content: center;
}

.achievements-title{
    color: var(--achievement-bcg);
font-family: "DM Serif Display";
text-align: center;
font-size: 85px;
font-style: normal;
font-weight: 400;
line-height: 1.50; /* 150% */
letter-spacing: 1.7px;
padding-top: 154px;
}
.achievements-text{
    color: var(--text-color);
text-align: center;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 1.50; /* 150% */
letter-spacing: 0.22px;
padding-bottom: 150px;
padding-right: 135px;
}

/* Recent */

.recent{
    margin-top: 143px;
}

.recent-title{
    color: var(--title-color);
text-align: center;
font-family: "DM Serif Display";
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: 1.30; /* 130% */
letter-spacing: 0.22px;
}

.recent-subtitle{
    color: var(--text-color);
text-align: center;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 1.50; /* 150% */
letter-spacing: 0.22px;
}

.recent-subtitle2{
    color: var(--text-color);
text-align: center;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 1.50; /* 150% */
letter-spacing: 0.22px;
}

.recent-list{
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc((100% - 40px) /3);;
}

.recent-item{
    width: 387px;
height: 515px;
border-radius: 62px;
border: 1px solid var(--list-bcg);

margin-bottom: 40px;
}

.recent-image{
    padding: 21px 21px 15px 21px;
}

.recent-subject{
    color: var(--title-color);
font-family: "DM Serif Display";
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: 1.40; /* 140% */
letter-spacing: 0.5px;
padding-left: 21px;
padding-bottom: 34px;
}

.recent-text{
    color: var(--text-color);
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.50; /* 150% */
letter-spacing: 0.22px;
padding-left: 21px;
}

.recent-btn{
    width: 52px;
height: 52px;
border-radius: 100px;
border: none;
background: var(--buttons-bcg);
background-image: url(../images/arrow.png);
background-repeat: no-repeat;
background-position: center;
margin-right: 21px;
margin-left: 314px;
margin-bottom: 41px;
}

/* Join */

.join{
    width: 1200px;
    height: 410px;
    margin-top: 141px;
    border-radius: 70px;
    background: var(--join-bcg);
    margin-left: auto;
    margin-right: auto;
}

.join-title{
    color: var(--bcg-color);
text-align: center;
font-family: "DM Serif Display";
font-size: 50px;
font-style: normal;
font-weight: 400;
line-height: 1.50; /* 150% */
letter-spacing: 0.22px;
padding-top: 100px;
}

.join-text{
    color: var(--bcg-color);
text-align: center;
font-family: Jost;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 1.50; /* 150% */
letter-spacing: 0.22px;
}

.join-button{
    width: 241px;
height: 71px;
border-radius: 18px;
background-color: var(--achievement-bcg);
color: var(--bcg-color);
text-align: center;

font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 1.50; /* 150% */
letter-spacing: 0.22px;
border: none;
margin-top: 31px;
margin-bottom: 95px;
margin-left: 474px;
margin-right: 485px;
}

.footer2{
    margin-top: 130px;
    margin-bottom: 80px;
    display: flex;
}

.footer-text{
    color: var(--text-color);
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 1.50; /* 150% */
letter-spacing: 0.22px;
padding-top: 15px;
padding-bottom: 30px;
width: 326px;
}

.footer-list{
    display: flex;
    gap: 40px;
    padding-bottom: 196px;
    padding-right: 228px;
}

.pages-title{
    color: var(--title-color);
font-family: "DM Serif Display";
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: 1.50; /* 150% */
letter-spacing: 0.22px;
padding-bottom: 21px;
}

.pages-list{
    margin-right: 97px;
}

.pages-item{
    padding-bottom: 30px;
}

.pages-link{
    color: var(--text-color);
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 1.50; /* 150% */
letter-spacing: 0.22px;
}

.explore-list{
    margin-right: 86px;
}

.explore-title{
    color: var(--title-color);
font-family: "DM Serif Display";
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: 1.50; /* 150% */
letter-spacing: 0.22px;
margin-right: 137px;
padding-bottom: 21px;
}

.explore-item{
    padding-bottom: 30px;
}

.explore-link{
    color: var(--text-color);
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 1.50; /* 150% */
letter-spacing: 0.22px;
}

.contact-title{
    color: var(--title-color);
font-family: "DM Serif Display";
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: 1.50; /* 150% */
letter-spacing: 0.22px;
padding-bottom: 22px;
}

.contact-item{
    padding-bottom: 29px;
}

.contact-link{
    color: var(--text-color);
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 1.50; /* 150% */
letter-spacing: 0.22px;
}

.Copyright{
    border-top: 3px solid var(--footer-brdr) ;
    padding-top: 35px;
    padding-bottom: 36px;
}

.copyright-text{
    color: var(--text-color);
text-align: center;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 1.50; /* 150% */
letter-spacing: 0.22px;
}

.copyright-color{
    color: var(--hover-color);
text-align: center;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 1.50; /* 150% */
letter-spacing: 0.22px;
}