a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

address {
  font-style: normal;
}

img {
  display: block;
}

h1, h2, h3, p {
  margin: 0;
}

.header__link::after, .header__link {
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(1, 0.45, 0, 1.15);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Jost;
}

.container {
  width: 1230px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid orange; */
}

.header {
  padding: 30px 0px;
}
.header__box {
  display: flex;
  align-items: center;
}
.header__navigation {
  margin-left: auto;
}
.header__list {
  display: flex;
  gap: 40px;
}
.header__item {
  position: relative;
}
.header__link {
  color: #4D5053;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.4px;
  transition-property: color;
}
.header__link:hover {
  color: #CDA274;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.4px;
}
.header__link::after {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: #CDA274;
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: -40px;
  opacity: 0;
  /* visibility: hidden; */
  transition-property: opacity;
}
.header__link:hover::after {
  display: block;
  opacity: 1;
  /* visibility: visible; */
}

.dream {
  background-image: url(../images/house.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 195px 0px 260px 0px;
}
.dream__title {
  width: 595px;
  color: #292F36;
  font-family: "DM Serif Display";
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.22px;
  margin-bottom: 12px;
}
.dream__desk {
  color: #4D5053;
  width: 577px;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.22px;
  margin-bottom: 35px;
}
.dream__button {
  padding: 22px 67px 22px 34px;
  background-color: #292F36;
  color: #FFFFFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.72px;
  border: none;
  border-radius: 15px;
  animation-name: move-btn;
  animation-duration: 1000ms;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-delay: 200ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.features {
  padding-top: 100px;
  text-align: center;
}
.features__list {
  display: flex;
  justify-content: center;
}
.features__item {
  padding-top: 75px;
  padding-left: 42px;
  padding-right: 41px;
  padding-bottom: 70px;
}
.features__title {
  color: #292F36;
  font-family: "DM Serif Display";
  text-align: center;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.56; /* 156% */
  letter-spacing: 0.22px;
  margin-bottom: 17px;
}
.features__desk:nth-child(1) {
  width: 317px;
  color: #4D5053;
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.22px;
  margin-bottom: 68px;
}
.features__desk:nth-child(2) {
  color: #4D5053;
  width: 297px;
  font-size: 22px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.22px;
  margin-bottom: 35px;
}
.features__desk:nth-child(3) {
  color: #4D5053;
  text-align: center;
  width: 296px;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.22px;
  margin-bottom: 35px;
}
.features__btn {
  color: #4D5053;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.36px;
  border: none;
  background-color: #FFFFFF;
}

.call {
  padding-top: 100px;
}
.call__box {
  display: flex;
  justify-content: space-between;
}
.call__title {
  width: 450px;
  color: #292F36;
  font-family: "DM Serif Display";
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3; /* 130% */
  letter-spacing: 0.22px;
  margin-bottom: 42px;
}
.call__desk {
  width: 531px;
  color: #4D5053;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.22px;
  margin-bottom: 40px;
}
.call__link {
  width: 93px;
  height: 93px;
  margin-right: 20px;
}
.call__phone {
  display: flex;
  margin-bottom: 50px;
}
.call__tel {
  color: #4D5053;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.22px;
}
.call__subtitle {
  color: #4D5053;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.22px;
}
.call__button {
  border-radius: 18px;
  border: 2px solid #292F36;
  background: #292F36;
  color: #fff;
  font-family: Jost;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.72px;
  padding: 21px 67px 23px 34px;
}

.review > .container {
  border-radius: 70px;
  background: #F4F0EC;
  padding-top: 103px;
  padding-bottom: 121px;
}

.review {
  padding-top: 139px;
  margin-left: auto;
  margin-right: auto;
}
.review__title {
  color: #292F36;
  text-align: center;
  font-family: "DM Serif Display";
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3; /* 130% */
  letter-spacing: 0.22px;
}
.review__title2 {
  color: #292F36;
  text-align: center;
  font-family: "DM Serif Display";
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3; /* 130% */
  letter-spacing: 0.22px;
  margin-bottom: 47px;
}
.review__list {
  display: flex;
  gap: 18px;
  justify-content: center;
  /* padding-bottom: 121px; */
}
.review__item {
  border-radius: 30px;
  background: #FFFFFF;
  padding-top: 50px;
  padding-right: 67px;
  padding-bottom: 45px;
  padding-left: 35px;
  width: 354px;
  height: 287px;
}
.review__box {
  display: flex;
}
.review__image {
  width: 77px;
  height: 77px;
  margin-right: 20px;
}
.review__subtitle {
  color: #292F36;
  font-family: "DM Serif Display";
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.22px;
}
.review__desk {
  color: #4D5053;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.22px;
  text-align: center;
  margin-bottom: 32px;
}
.review__subject {
  color: #4D5053;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.22px;
}

.brands {
  padding-top: 141px;
}
.brands__list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* Project */
.project {
  padding-top: 143px;
  padding-bottom: 140px;
}
.project__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  row-gap: 60px;
}
.project__title {
  color: #292F36;
  text-align: center;
  font-family: "DM Serif Display";
  font-size: 47px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.32; /* 132.766% */
  letter-spacing: 0.22px;
}
.project__subtitle {
  color: #4D5053;
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.22px;
  margin-top: 20px;
  margin-bottom: 70px;
  margin-left: auto;
  margin-right: auto;
  width: 786px;
}
.project__image {
  width: 590px;
  height: 661px;
}
.project__position {
  font-size: 20px;
  color: blue;
  position: absolute;
  bottom: 0;
  left: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgba(205, 162, 116, 0.3843137255);
  width: 100%;
}
.project__boxes {
  display: flex;
}
.project__subject {
  color: #292F36;
  font-family: "DM Serif Display";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.56; /* 156.25% */
  letter-spacing: 0.22px;
  margin-top: 20px;
}
.project__desk {
  color: #4D5053;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.22px;
}
.project__btn {
  border-radius: 100px;
  background: #F4F0EC;
  background-image: url(../images/arrow.png);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  width: 70px;
  height: 70px;
  margin-left: auto;
  margin-top: 25px;
}

/* Achievements */
.achievements {
  background: #F4F0EC;
  margin-left: auto;
  margin-right: auto;
  padding-top: 140px;
  padding-bottom: 140px;
}
.achievements__list {
  display: flex;
  gap: 16px;
}
.achievements__item:nth-child(1) {
  padding: 14px 55px 10px 33px;
  border-right: 1px solid #CDA274;
}
.achievements__item:nth-child(2) {
  padding: 14px 78px 10px 57px;
  border-right: 1px solid #CDA274;
}
.achievements__item:nth-child(3) {
  padding: 14px 86px 10px 65px;
  border-right: 1px solid #CDA274;
}
.achievements__item:nth-child(4) {
  padding: 14px 67px 10px 47px;
}
.achievements__title {
  color: #CDA274;
  font-family: "DM Serif Display";
  text-align: center;
  font-size: 85px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 1.7px;
  margin-bottom: 12px;
}
.achievements__text {
  color: #4D5053;
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.22px;
}

/* Recent */
.recent {
  padding-top: 143px;
}
.recent__title {
  color: var(--title-color);
  text-align: center;
  font-family: "DM Serif Display";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3; /* 130% */
  letter-spacing: 0.22px;
}
.recent__subtitle {
  color: var(--text-color);
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.22px;
  margin-top: 21px;
  margin-bottom: 70px;
}
.recent__subtitle2 {
  color: #4D5053;
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.22px;
}
.recent__list {
  display: flex;
  flex-wrap: wrap;
  gap: 19px;
  flex-basis: calc((100% - 60px) / 3);
  row-gap: 40px;
}
.recent__item {
  width: 387px;
  height: 515px;
  border-radius: 62px;
  border: 1px solid #E7E7E7;
  padding: 21px 41px 21px 21px;
  flex-basis: calc((100% - 40px) / 3);
  position: relative;
  /* transition-property: box-shadow;
  transition-duration: 3000ms;
  transition-timing-function: cubic-bezier(1,.45,0,1.15); */
}
.recent__wrap {
  position: relative;
  border-radius: 45px 45px 0px 0px;
  overflow: hidden;
}
.recent__subject {
  color: #292F36;
  font-family: "DM Serif Display";
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4; /* 140% */
  letter-spacing: 0.5px;
  margin-top: 15px;
  margin-bottom: 10px;
}
.recent__box {
  display: flex;
  align-items: center;
  margin-top: 34px;
}
.recent__item:nth-child(3) > .recent__subject {
  width: 337px;
}
.recent__text {
  color: #4D5053;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.22px;
}
.recent__btn {
  width: 52px;
  height: 52px;
  border-radius: 100px;
  border: none;
  background: #F4F0EC;
  background-image: url(../images/arrow.png);
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;
}
.recent__button {
  border: none;
  border-radius: 8px 8px 8px 0px;
  background: #FFFFFF;
  padding: 9px 10px 11px 10px;
  color: #4D5053;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.22px;
  position: absolute;
  top: 244px;
  left: 45px;
}

/* Join */
.join > .container {
  border-radius: 70px;
  background: #292F36;
}

.join {
  padding-top: 141px;
  padding-bottom: 129px;
  margin-left: auto;
  margin-right: auto;
}
.join__wrap {
  padding-right: 333px;
  padding-bottom: 95px;
  padding-left: 333px;
  text-align: center;
}
.join__title {
  color: #FFFFFF;
  text-align: center;
  font-family: "DM Serif Display";
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.22px;
  margin-bottom: 9px;
  padding-top: 100px;
}
.join__text {
  color: #FFFFFF;
  text-align: center;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.22px;
  margin-bottom: 31px;
}
.join__box {
  display: flex;
  justify-content: center;
  padding-bottom: 95px;
}
.join__button {
  padding-top: 21px;
  padding-right: 67px;
  padding-bottom: 23px;
  padding-left: 34px;
  border-radius: 18px;
  background-color: #CDA274;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.22px;
  border: none;
}

.footer2 {
  padding-bottom: 80px;
  display: flex;
}

.footer__text {
  color: #4D5053;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.22px;
  margin-top: 15px;
  margin-bottom: 30px;
  margin-right: 83px;
  width: 326px;
}

.footer__list {
  display: flex;
  gap: 40px;
  margin-bottom: 196px;
}

.pages__title {
  color: #292F36;
  font-family: "DM Serif Display";
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.22px;
  margin-bottom: 21px;
}

.pages__list {
  margin-right: 97px;
}

.pages__item:nth-child(1) {
  margin-bottom: 30px;
  width: 114px;
}

.pages__item:nth-child(2) {
  margin-bottom: 30px;
}

.pages__item:nth-child(3) {
  margin-bottom: 30px;
}

.pages__item:nth-child(4) {
  margin-bottom: 30px;
}

.pages__link {
  color: #4D5053;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.22px;
}

.explore__list {
  margin-right: 86px;
}

.explore__title {
  color: #292F36;
  font-family: "DM Serif Display";
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.22px;
  margin-right: 137px;
  margin-bottom: 21px;
}

.explore__item:nth-child(1) {
  margin-bottom: 30px;
}

.explore__item:nth-child(2) {
  margin-bottom: 30px;
}

.explore__item:nth-child(3) {
  margin-bottom: 30px;
}

.explore__item:nth-child(4) {
  margin-bottom: 30px;
}

.explore__link {
  color: #4D5053;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.22px;
}

.contact__title {
  color: #292F36;
  font-family: "DM Serif Display";
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.22px;
  margin-bottom: 22px;
}

.contact__item:nth-child(1) {
  margin-bottom: 29px;
}

.contact__item:nth-child(2) {
  margin-bottom: 29px;
}

.contact__link {
  color: #4D5053;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.22px;
}

.copyright {
  border-top: 3px solid #f5f5f5;
  padding-top: 35px;
  padding-bottom: 36px;
}

.copyright__text {
  color: #4D5053;
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.22px;
}

.copyright__color {
  color: #CDA274;
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.22px;
}

/* Modal Window */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  width: 528px;
  border-radius: 4px;
  background: #FFF;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  position: relative;
  padding: 40px;
  /* transform: translate(0) rotate(0); */
  transition-property: transform;
  transition-duration: 1500ms;
  transition-timing-function: ease-in;
  transform: scale(1);
}

.is-hidden .modal {
  transform: scale(0);
}

.modal-close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  outline: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-close:hover,
.modal-close:focus {
  border: 0px solid transparent;
  outline: 1px solid rgba(0, 0, 0, 0.1);
}
.modal-close:hover .modal-cross,
.modal-close:focus .modal-cross {
  fill: #2196F3;
}

.modal-cross {
  width: 18px;
  height: 18px;
}

.modal-title {
  color: #212121;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  margin-bottom: 12px;
}

/* .modal-form{
    text-align: center;
} */
.modal-label {
  color: #757575;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  display: block;
  margin-top: 4px;
  margin-bottom: 10px;
  padding-left: 42px;
}

.modal-input:hover,
.modal-input:focus {
  border: none;
  outline: 1px solid #2196F3;
}

.modal-input:hover + .modal-icon,
.modal-input:focus + .modal-icon {
  fill: #2196F3;
}

.modal-icon {
  width: 18px;
  height: 18px;
  fill: #212121;
  position: absolute;
  top: 32px;
  left: 12px;
}

.modal-coment {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  resize: none;
  padding: 12px 16px;
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  margin-bottom: 20px;
  margin-top: 4px;
}

.modal-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-check {
  width: 16px;
  height: 15px;
}

.modal-text {
  color: #757575;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
  margin-left: 9px;
  margin-right: 4px;
}

.modal-link {
  color: #2196F3;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.modal-btn {
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.96px;
  padding: 10px 52px;
  border-radius: 4px;
  background: #2196F3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  margin-top: 30px;
}

.modal-box {
  display: flex;
  justify-content: center;
}/*# sourceMappingURL=main.css.map */