
    $hover-color:#CDA274;
    $title-color:#292F36;
    $border-color:#292F36;
    $call-btn-bcg-color:#292F36;
    $btn-text-color:#fff; 
    $hero-btn-bcg:#292F36;
    $text-color:#4D5053;
    $review-bcg:#F4F0EC;
    $buttons-bcg:#F4F0EC;
    $achievement-bcg:#CDA274;
    $bcg-color:#FFFFFF;
    $join-bcg:#292F36;
    $list-bcg: #E7E7E7;;
    $footer-brdr:#f5f5f5;